body {
  background: #3349a0;
  background: -moz-linear-gradient(-45deg, #3349a0 0%, #dbc4af 100%);
  background: -webkit-linear-gradient(-45deg, #3349a0 0%,hsl(29, 38%, 77%) 100%);
  background: linear-gradient(135deg, #3349a0 0%,#dbc4af 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3349a0', endColorstr='#dbc4af',GradientType=1 );

  box-sizing: padding-box;

  font-family: 'Slabo 27px', Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  margin: 0;
  min-height: calc(100vh - 5em);
  padding: 0;
}

h1 {
  font-weight: normal;
  margin: 0;
  margin: 0;
  text-align: center;
}

.container {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  margin: 5em auto;
  overflow: hidden;
  width: 40em;
  border: solid 0.125em white;
}

.header {
  background: rgba(255, 255, 255, 0.33);
  padding: 1em;
}

.form {
  justify-content: space-around;
  display: inline-flex;
  margin-top: 15px;
}

input[type=text] {
  align-content: center;
  width: -moz-available;
}

ul {
  padding: 0;
}

li {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  list-style-position: inside;
  list-style: none;
  padding: 0;
  padding: 1em;
  display: -webkit-box;
  word-wrap:break-word;
}

.eingabe {
  width: 477px;
}

li:nth-child(odd) {
  background: rgb(255, 255, 255, 0.25);
}

li input {
  color: red;
  font-size: 12pt;
  height: 3em;
  margin-right: 1em;
  padding: 0;
  width: 3em;
}

.mono {
  font-family: 'Courier New', Courier, monospace;
}